In [1]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.getOrCreate()
df=spark.sql("Select 'welcome to spark' as hello")
df.show()

+----------------+
|           hello|
+----------------+
|welcome to spark|
+----------------+

In [2]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkContext as sc
import pyspark
val num = Array(1,2,3,4,5)
val n=sc.parallelize(num)
n.count()

SyntaxError: invalid syntax (349665686.py, line 7)

In [3]:
from pyspark.sql import SparkSession
from pyspark import SparkContext
import pyspark
import random
sc = SparkContext.getOrCreate();
num_samples = 10000
def inside(p):     
    x,y = random.random(), random.random()
    return x*x + y*y < 1
count = sc.parallelize(range(0, num_samples)).filter(inside).count()
pione = 4 * count / num_samples
 
print(pione)
sc.stop()

3.16

In [4]:
from pyspark.sql import SparkSession
spark=SparkSession\
       .builder\
       .appName("Python spark sql basic examples")\
        .config("spark.come.config.option","some-values")\
        .getOrCreate()
df=spark.read.format('com.databricks.spark.csv').\
              options(header='true',\
                     inferschema='true').\
            load("H:/Hexaware/python-data/salarydata.csv",header=True)
df.show()
df.printSchema()

+------------------+------+
|year of experiance|salary|
+------------------+------+
|               1.1| 40000|
|               1.2| 44000|
|               2.0| 50000|
|               3.0| 60000|
|               4.0| 75000|
|               5.0| 80000|
+------------------+------+

root
 |-- year of experiance: double (nullable = true)
 |-- salary: integer (nullable = true)

In [5]:
#create RDD uisng parallelize() method
from pyspark.sql import SparkSession
from pyspark import SparkContext
spark = SparkSession \
.builder \
.appName("Python Spark create RDD example") \
.config("spark.some.config.option", "some-value") \
.getOrCreate()
df = spark.sparkContext.parallelize([(1, 2, 3, 'a b c'),
(4, 5, 6, 'd e f'),
(7, 8, 9, 'g h i')]).toDF(['col1', 'col2', 'col3','col4'])
df.show()

+----+----+----+-----+
|col1|col2|col3| col4|
+----+----+----+-----+
|   1|   2|   3|a b c|
|   4|   5|   6|d e f|
|   7|   8|   9|g h i|
+----+----+----+-----+

In [6]:
# Imports
from pyspark.sql import SparkSession

# Create SparkSession
spark = SparkSession.builder \
            .appName('SparkByExamples.com') \
            .getOrCreate()
            
# Create RDD           
dept = [("Finance",10),("Marketing",20),("Sales",30),("IT",40)]
rdd = spark.sparkContext.parallelize(dept)

# Create DataFrame from RDD
df = rdd.toDF()
df.printSchema()
df.show(truncate=False)

root
 |-- _1: string (nullable = true)
 |-- _2: long (nullable = true)

+---------+---+
|_1       |_2 |
+---------+---+
|Finance  |10 |
|Marketing|20 |
|Sales    |30 |
|IT       |40 |
+---------+---+

In [7]:
from pyspark.sql import SparkSession
spark = SparkSession \
.builder \
.appName("Python Spark create RDD example") \
.config("spark.some.config.option", "some-value") \
.getOrCreate()
myData = spark.sparkContext.parallelize([(1,2), (3,4), (5,6), (7,8), (9,10)])
myData.collect()

[(1, 2), (3, 4), (5, 6), (7, 8), (9, 10)]

In [11]:
# By using createDataFrame( ) function
from pyspark.sql import SparkSession
spark = SparkSession \
.builder \
.appName("Python Spark create RDD example") \
.config("spark.some.config.option", "some-value") \
.getOrCreate()
Employee = spark.createDataFrame([
('1', 'Joe', '70000', '1'),
('2', 'Henry', '80000', '2'),
('3', 'Sam', '60000', '2'),
('4', 'Max', '90000', '1')],
['Id', 'Name', 'Salary','DepartmentId'])
Employee.show()

+---+-----+------+------------+
| Id| Name|Salary|DepartmentId|
+---+-----+------+------------+
|  1|  Joe| 70000|           1|
|  2|Henry| 80000|           2|
|  3|  Sam| 60000|           2|
|  4|  Max| 90000|           1|
+---+-----+------+------------+

In [26]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, concat, lit, floor, rand
# Initialize a Spark session
spark = SparkSession.builder.appName("ComplexETL").getOrCreate()
# Define the external source and target paths
source_path = "H:/Hexaware/python-data/studentdata.csv" # Update with your actual source file path
target_path = "H:/Hexaware/python-data/data1.csv" # Update with your desired target file path
# Extract: Read data from an external CSV file
df = spark.read.csv(source_path, header=True,schema = 'Name String,Dept String')
df.show()
# Transformation 1: Concatenate First and Last Names
df = df.withColumn("Name", concat(col("Name"), lit(" "), col("Dept")))
df.show()
#adding age column
df = df.withColumn("age", floor(lit(20) + rand() * lit(31)))
df.show()
# Transformation 3: Filter by Age (age >= 30)
df = df.filter(col("age") >= 30)
df.show()
# Transformation 5: Sort by Age
df = df.orderBy("age")
df.show()
# Save the transformed data to an external CSV file
#df.write.csv(target_path, mode="overwrite", header=True)

+------+-----+
|  Name| Dept|
+------+-----+
|  Hema|  CSE|
| Paani|  CSE|
|  Ravi|  EEE|
|Chandu|  ECE|
|  Hari|Civil|
+------+-----+

+----------+-----+
|      Name| Dept|
+----------+-----+
|  Hema CSE|  CSE|
| Paani CSE|  CSE|
|  Ravi EEE|  EEE|
|Chandu ECE|  ECE|
|Hari Civil|Civil|
+----------+-----+

+----------+-----+---+
|      Name| Dept|age|
+----------+-----+---+
|  Hema CSE|  CSE| 35|
| Paani CSE|  CSE| 38|
|  Ravi EEE|  EEE| 33|
|Chandu ECE|  ECE| 49|
|Hari Civil|Civil| 31|
+----------+-----+---+

+----------+-----+---+
|      Name| Dept|age|
+----------+-----+---+
|  Hema CSE|  CSE| 35|
| Paani CSE|  CSE| 38|
|  Ravi EEE|  EEE| 33|
|Chandu ECE|  ECE| 49|
|Hari Civil|Civil| 31|
+----------+-----+---+

+----------+-----+---+
|      Name| Dept|age|
+----------+-----+---+
|Hari Civil|Civil| 31|
|  Ravi EEE|  EEE| 33|
|  Hema CSE|  CSE| 35|
| Paani CSE|  CSE| 38|
|Chandu ECE|  ECE| 49|
+----------+-----+---+